.Title
    font-family: "press start 2p", system-ui
    font-weight: 400
    font-style: normal

    text-align: center
    font-size: 5rem

.link
    font-family: "press start 2p", system-ui
    font-weight: 400
    font-style: normal
        
    display: flex
    justify-content: center
    align-items: center
    gap: 2rem

    